Package: com.p2kdev.safariblocker
Name: SafariBlocker
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0)
Version: 1.3
Architecture: iphoneos-arm
Description: Block New Tabs with Options!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
